#games {
	margin-top: 110px;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: auto auto auto auto auto;
	place-items: center;
}

.game {
	padding: 5px;
	cursor: pointer;
	background: rgba(116, 255, 246, 0.3);
	border: 1px solid white;
	border-radius: 5px;
	line-break: auto;
	width: 90%;
	height: 90%;
	transition: 1s;
}

.game:hover {
	box-shadow: 2px 2px 10px #00ffff,
	5px 5px 10px #ff00ff;
	transform: translateY(-5px) translateX(-5px);
}