* {
	font-family: "Orbitron", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

* ::selection {
    background-color: #ae1146b3;
    color: white;
}

body {
	background-image: linear-gradient(rgba(0, 255, 255, 0.75),rgba(255, 0, 255, 0.75)), url('media/mrkittywoos.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Orbitron", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	overscroll-behavior: none;
}

h1, h2 {
	text-align: center;
	text-shadow: 2px 2px 5px black;
}

h1 {
	margin-top: 50px;
}

p {
	text-shadow: 2px 2px 5px black;
}

#back {
	position: absolute;
	top: 10px;
	left: 10px;
}

#textwrap {
	width: 50vw;
}