*::selection {
    background: blue;
    color: #fff;
    text-decoration: aqua underline dotted;
}
body {
    background: linear-gradient(to top, #0000ff, #ff00ff);
    background-attachment: fixed;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color: #ff0;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
button {
    border: 1px solid #fff;
    cursor: pointer;
    margin: 10px;
    background: linear-gradient(to top, #0000ff, #ff00ff);
    border-radius: 10px;
    color: #fff;
    width: 150px;
    height: 50px;
}
button:hover {
    background: linear-gradient(to top, #4040ff, #ff40ff);
}
button:focus {
    border: none;
}
input,textarea {
	color: yellow;
	background: repeating-conic-gradient(red,gold,aqua,blue);
	border: 1px solid aqua;
	width: 200px;
	font-family: sans-serif;
}
input,textarea:focus {
	border: 1px solid aqua;
	outline: none;
}
input {

}
textarea {
	height: 200px;
}
#mrkittywoos {
    margin-top: 50px;
    max-width: 25vw;
    min-width: 150px;
}
