* {
	font-family: "Orbitron", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

* ::selection {
    background-color: #ae1146b3;
    color: white;
}

body {
	background: radial-gradient(rgba(25, 25, 112, 0.8), rgba(0, 0, 0, 0.8), rgba(25, 25, 112, 0.8), rgba(0, 0, 0, 0.8)), url('media/mrkittywoos.jpg');
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	color: white;
	text-align: center;
	overscroll-behavior: none;
}

h1, h2, p {
	text-shadow: 2px 2px 5px black;
}

a {
	color: aqua;
}

#back {
	position: fixed;
	top: 10px;
	left: 10px;
}