body {
	background: linear-gradient(-45deg, rgb(106, 0, 255) 50%, transparent),
	linear-gradient(180deg, rgb(64, 0, 128) 50%, transparent),
	white;
	background-attachment: fixed;
}

#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60dvw;
	background: rgba(116, 255, 246, 0.3);
	margin: 10px;
	margin-top: 120px;
	border: 1px solid white;
	border-radius: 20px;
}

#top img {
	margin-top: 10px;
	width: 40dvw;
	border-radius: 10px;
}

#info {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 120%;
}

#buttons {
	margin: 10px;
}

#buttons button {
	transition: 1s;
	background: white;
	color: black;
	margin: 5px;
	min-width: 100px;
	min-height: 50px;
	border-radius: 20px;
	border: 1px solid aqua;
}

#buttons button:hover {
	box-shadow: 0px 3px 5px black;
}