#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100dvw;
	height: 100px;
	background: linear-gradient(-45deg, #00ffff, #ff00ff);
	display: grid;
	place-items: center;
	grid-template-columns: auto auto auto auto;
	color: white;
}
