body {
	font-family: "Quicksand", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

a {
	font-weight: 600;
	text-decoration: none;
	color: white;
}

a:hover {
	color: rgb(228, 228, 228);
}