@font-face {
	font-family: 'Quicksand';
	src: local('MyFont'), url(src/assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
}

body {
	font-family:Quicksand;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

a {
	font-weight: 600;
	text-decoration: none;
	color: white;
}

a:hover {
	color: rgb(228, 228, 228);
}